#RecentArrival .buttons button{
 margin-right: 16px;
 border-radius: 0px;
 padding: 5px 18px;
 font-size: 18px;
}
#RecentArrival .buttons{
    margin-top: 10px;
}

#RecentArrival .viewBtn button {
 margin-right: 20px;
 border-radius: 0px;
 padding: 5px 25px;
 font-size: 18px;
}

@media screen and (max-width: 768px) {
#RecentArrival .buttons {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}

