.contact-bg{
    background-image: url("../images/contact-header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
}

.contact-heading{ 
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
}

.contact-heading p{
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
}

.page-title{
    color: #333;
    font-size: 24px;
}


#contact .contact-info h3 {
    font-size: 22px;
    color: #6b6565;
}

#contact .contact-info ul {
    list-style-type: none;
    padding: unset;
    display: grid;
    grid-template-columns: 50px 260px;
    justify-content: center;
    justify-items: flex-start;
    align-items: baseline;
    margin-top: 30px;
    color: #888888;
}

#contact .contact-info ul li a{
   text-decoration: none;
   color: #888888;
   line-height: 2;
  
}
#contact .contact-info ul li span{
   color: #888888;
}

.setIcon{
    margin-right: 12px;
    color: #eea287;
}

 #contact input {
    border-radius: unset;
    margin: 15px 0px;
}


 #contact .form-control:focus {
  border-color:#eea287 ;
  -webkit-box-shadow: none;
  box-shadow: none;
}


#contact button{
    border-radius: unset;
    padding: 6px 28px;
    color: #eea287;
    border: 1px solid #eea287;
}

  #contact button:hover{
    background-color: #eea287;
    color: #fff;
    transition: 0.6s ease;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
    color: gray;
    font-weight: 500;
}


h3.store-title {
  font-size: 1.2rem;
  font-weight: 400;
  color: #534e4e;
}

.store-link a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 400;
    display: block;
    margin: 12px 0px;
}

h4.store-subtitle{
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.time {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0;
    color: #333;
}


a.btn.btn-link {
    margin: 12px 0px;
    text-decoration: none;
    color: #eea287;
}

a.btn.btn-link:hover {
   
    border-bottom: 1px solid #eea287;
    border-radius: unset;
}

@media only screen and (max-width: 1200px){
    
   .contact-heading {
    position: absolute;
    top: 50%;
    left: 20%;
    text-align: center;
}

}

